//====================================================================================================
// start-block
.start-block {
    @include adaptiveValue("padding-bottom",184 ,40);
    @include adaptiveValue("padding-top",149 ,120);
    min-height: 100vh;
    color: $col-white;
    position: relative;
    &::after{
        content:'';
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background: url(@img/bgStart1.jpg) center/cover no-repeat;
        z-index: -1;
    }
    &__text {
        font-weight: 700;
        @include adaptiveValue("font-size", 26, 18);
        line-height: math.div(39 , 26);
        margin-bottom: em(25,26);
        transform: translateY(-150%);
        transition: all 0.7s ease 0s;
    }
    &__title {
        @include adaptiveValue("font-size", 64, 26);
        line-height: math.div(96 , 64);
        margin-bottom: em(26,64);
        transform: translateY(150%);
        transition: all 0.7s ease 0s;
    }
    &__button {
        display: block;
        padding: rem(12) rem(50);
        font-weight: 700;
        font-size: rem(14);
        line-height: math.div(21 , 14);
        background-color: $col-yellow;
        border-radius: 6px;
        max-width: rem(209);
        &:hover {
			box-Shadow: 2px -2px 9px 2px rgba(255,255,255,0.5);
			transition: all .3s;
		}
    }
}
.discount-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(30);
    @media (max-width:$mobileSmall){
         gap: rem(10); 
    }
    @include adaptiveValue("margin-bottom", 79, 20);
    &__size {
        position: relative;
        width: rem(205);
        height: rem(205);
        background: $col-yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @media (max-width:$tablet){
            width: rem(180);
            height: rem(180);
        }
        @media (max-width:$mobile){
            width: rem(150);
            height: rem(150);
        }
        &._watcher-view {
            animation: anim 2s linear infinite;
        }
    }
    &__percent {
        font-weight: 700;
        @include adaptiveValue("font-size", 64,30 );
        line-height: math.div(60 , 64);
    }
    &__name-percent {
        text-transform: uppercase;
        font-weight: 700;
        @include adaptiveValue("font-size", 32, 18);
        line-height: math.div(48 , 32);
    }
    &__description {
        max-width: rem(324);
        a{
            display: block;
            @include adaptiveValue("font-size",36 ,25 );
            line-height: math.div(54 , 36);
            color: rgba($col-yellow, 1);
            &:hover{
                text-shadow: 5px 3px 9px rgba($col-yellow, .7);
                transition: all .3s;
            }
        }

        }
}
@keyframes circle {
    0% {
        right: -200%;
    }
    50% {
        transform: rotate(60deg); 
    }
    100% {
        right: 0%;
    }
}
@keyframes anim {
    0% {
        box-shadow: 1px 1px 60px 2px rgba(255,255,255,0.53);
    }
    50% {
        box-shadow: 1px 1px 60px 15px rgba(255,255,255,0.53);
    }
    100% {
        box-shadow: 1px 1px 60px 2px rgba(255,255,255,0.53);
    }
}
//====================================================================================================
 //categories
 .categories {
    box-shadow: 0px -2px 11px 5px rgb(255 255 255 / 74%);
    padding: rem(27) 0 rem(40) 0;
    text-align: center;
    background-color: white;
    &._watcher-view .categories__title{
        transform: translateX(0);
    }
    &__title {
        transform: translateX(-300%);
        transition: all 0.8s linear .3s;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(20);
    }
    &__item{
        justify-self: center;
        @media (max-width:$tablet){
            grid-column: span 2;
        }
        @media (max-width:$mobile){
             grid-column: span 4; 
        }
    }
}
.content-subtitle {
    position: relative;
    @include adaptiveValue("font-size", 18, 13);
    line-height: math.div(27 , 18);
    color: $col-yellow;
}
.content-title {
    @include adaptiveValue("font-size", 55, 30);
    line-height: math.div(82 , 55);
}

.item-categories {
    &__photo{
        img{
            max-width: 100%;
        }
    }
    &__capture{
        text-align: center;
        margin-top: rem(23);
    }
    &__name {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 18);
        line-height: math.div(36 , 24);
        margin-bottom: em(14,24);
    }
    &__desc {
        @include adaptiveValue("font-size", 20, 15);
        line-height: math.div(30 , 20);
    }
}
//========================================================================================================================================================
//delivery
.delivery {
    background-color: $col-yellow;
    &__box {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
        gap: rem(30);
        @media (max-width:$mobile){
             gap: rem(15); 
        }
    }
}
.box-delivery {
    text-align: center;
    &__item {
        color: $col-white;
        padding: rem(30) rem(10);
        display: flex;
        flex-direction: column;
        max-width: rem(300);
        margin: 0 auto;
       @media (max-width:$mobile){
         padding: rem(15) rem(10); 
       }
    }
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $col-white;
        border-radius: 50%;
        width: rem(115);
        height: rem(115);
        margin: 0 auto em(42,17) auto;
    }
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(30 , 20);
        max-width: rem(170);
        margin: 0 auto em(22,20) auto;
    }
    &__desc {
        margin: auto 0 0 0;
        @include adaptiveValue("font-size", 17, 14);
        line-height: math.div(26 , 17);
    }
}
//========================================================================================================================================================
//outlets
.outlets {
    text-align: center;
    @include adaptiveValue("padding-top",76 ,30 );
    @include adaptiveValue("padding-bottom",44 ,20 );
    background: #F5F5F5;
    &._watcher-view .outlets__title{
        transform: translateX(0);
    }
    &__title {
        margin-bottom: em(24,55);
        transform: translateX(300%);
        transition: all 0.8s ease 0.3s;
    }
}
.cards-outlet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
    gap: rem(30);
    &__image {
        position: relative;
        padding-bottom: percent(440,380);
        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
        }  
    }
    &__icon-link {
        display: block;
    }
    &__adress-link {
        font-weight: 700;
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(30 , 20);
        &:hover{
            text-decoration: underline;
            transition: all 0.3s ease 0s;
        }
    }
}
.fa-location-dot {
    margin-top: rem(10);
    padding: rem(10);
    font-size: rem(25);
    color: rgba($col-yellow, .7);
    &:hover{
        color: rgba($col-yellow, 1);
        transition: all .3s;
    }
}
//========================================================================================================================================================
//get-started
.get-started {
     @include adaptiveValue("padding-top",108,30);
     @include adaptiveValue("padding-bottom",94,20);
     background-color: white;
     &._watcher-view .get-started__image{
        animation: getStartedCircle 2s linear forwards;
     }
	&__container {
        display: flex;
        justify-content: space-between;
	}
	&__body {
        position: relative;
        z-index: 1;
        flex: 0 1 50%;
        padding: rem(0) rem(10) rem(10) rem(0);
        @media (max-width:$tablet){
            flex: 1 1 100%;
        }
	}
	&__title {
        display: inline-block;
        padding-bottom: rem(16);
        margin-bottom: rem(16);
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: percent(175,525);
            height: rem(5);
            left: 0;
            bottom: 0;
            background-color: $col-yellow;
        }
	}
	&__text {
        @include adaptiveValue("font-size", 26, 20);
        line-height: math.div(39 , 26);
        margin-bottom: em(16,26);
	}
	&__desc {
        @include adaptiveValue("font-size", 17,14 );
        line-height: math.div(26,17);
        margin-bottom: em(41,17);
	}
    &__text,
    &__desc{
        position: relative;
        z-index: 1;
    }
	&__image {
        transform: translateX(200%);
        flex: 0 1 50%;
        img {
           width: 100%;
           height: auto; 
        }
        @media (max-width:$tablet){
            padding-bottom: rem(10);
            flex: 1 1 100%;
        } 
	}
}
.promote-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px,1fr));
    gap: rem(15);
	&__logo {
        img {
            width: rem(100);
            height: rem(100);
            object-fit: cover;
        }
	}
	&__name {
        @include adaptiveValue("font-size", 20, 17);
        line-height: math.div(30 , 20);
        margin: em(19,20) 0 em(9,20) 0;
	}
	&__desc {
        max-width: rem(277);
        font-weight: 400;
        @include adaptiveValue("font-size", 17, 14);
        line-height: math.div(26 , 17);
	}
}
@keyframes getStartedCircle {
    0%{
        transform: translateX(200%) rotate(400deg);
    }
    80%{
        transform: translateX(-50%) rotate(-40deg);
    }
    100%{
        transform: translateX(0) rotate(0);
    }
}
//========================================================================================================================================================
//team
.team {
    text-align: center;
    @include adaptiveValue("padding-top", 47,30 );
    @include adaptiveValue("padding-bottom", 65, 40);
    background-color: white;
    &__title {
        display: inline-block;
        padding-bottom: rem(25);
        margin-bottom: em(84,55);
        position: relative;
        &::after{
            content:'';
            position: absolute;
            width: percent(205,561);
            height: rem(5);
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            background-color: $col-yellow;
        }
    }
}
.gallery-iteam {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px,1fr));
    gap: rem(30);
    @media (max-width:$mobile){
         gap: rem(15); 
    }
    &__image-wrap {
        position: relative;
        padding-bottom: percent(350,277);
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
    }
    &__photo{
        position: relative;
    }
    &__icons{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 50px;
        opacity: 0;
        i {
            cursor: pointer;
            font-size: rem(22);
            margin-right: rem(10);
            color: $col-yellow;
            opacity: 0.7;
            &:hover{
                opacity: 1;
                transition: all 0.3s ease 0s;
            }
        }
        &:hover {
            opacity: 1;
            transition: all 0.3s ease 0s;
        }
    }
    &__description {
        text-align: left;
    }
    &__chef-name {
        @include adaptiveValue("font-size", 24, 20);
        line-height: math.div(36 , 24);
        margin-bottom: em(13,24);
        margin-top: em(37,24);
        &:hover {
            text-decoration: underline;
            color: rgba($col-yellow, .5);
            transition: all 0.3s ease 0s;
        }
    }
    &__chef-position {
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 16);
        line-height: math.div(30 , 20);
    }
}
//========================================================================================================================================================
//discount
.discount {
    @include adaptiveValue("padding-top", 85, 30);
    @include adaptiveValue("padding-bottom", 135, 40);
    background-color: white;
    color: $col-white;
    position: relative;
    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(91.02deg, #FFCC00 17.25%, rgba(255, 204, 0, 0) 178.38%);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        @media (max-width:$mobileSmall){
            flex-wrap: wrap; 
       }
    }
    &__text {
        flex: 0 1 50%;
        padding-right: rem(10);
        @media (max-width:$mobileSmall){
            flex: 1 1 100%; 
       }
    }
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size",55 ,35 );
        line-height: math.div(82 , 55);
        margin-bottom: em(32,55);
        animation: flame 2s linear infinite;

    }
    &__subtitle {
        @include adaptiveValue("font-size", 25, 18);
        line-height: math.div(39 , 25);
        margin-bottom: em(73,25);
    }
    &__link {
        &:not(:last-child) {
            margin-right: rem(12);
        }
        img {
            width: 176px;
            height: 50px;
            border-radius: 10px;
            object-fit: cover;
            margin-bottom: rem(20);
            &:hover {
                box-shadow: 5px -5px 10px -1px rgba(0,0,0,0.61);
                transition: all 0.3s ease 0s;
            }
        }
    }
    &__image {
        flex: 0 1 50%;
        @media (max-width:$mobileSmall){
             flex: 1 1 100%; 
             padding-top: rem(20);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}
@keyframes flame {
    
    0% {
        box-shadow: none;
    }
    50%{
        text-shadow: 0px 0px 4px #fff, -1px 1px 16px #caca16, 0 -10px 20px #e97807, 0px 0px 20px #f00, 2px 2px 2px rgb(206 89 55 / 0%);  
    }
    100% {
        box-shadow: none;
    }
}
//========================================================================================================================================================
//logos
.logos {
    @include adaptiveValue("padding-top",75 , 30);
    @include adaptiveValue("padding-bottom",75 , 30);
    background-color: white;
    &__item {
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}




